<table>
    <th>Employee ID</th> <th>First Name</th> <th>Last Name</th> <th>Job Name</th> <th>Photo</th>
 <%table1.forEach((data)=>{  %>
<tr>
     <td><%= data.id %></td> 
     <td><%= data.firstname %></td>
     <td><%= data.lastname %></td>
     <td><%= data.job_name %></td>
     <td> <%-"<img src = '/"+data.job_name+".jpg' width='100' hight='100'>"%></td>
    </tr>
 <% }) %>
    
</table>
 
<table>
    <th>Job Id</th> <th>Job Name</th> 

   <%table2.forEach((data)=>{  %>
<tr>
     <td><%= data.id %></td> 
     <td><%= data.job_name %></td>
    </tr>
 <% }) %>
</table>