<form method="POST">
        <label>email</label>
        <input type="email" name="email">
        <br/>
        <label>password</label>
        <input type="password" name='password'>
        <br/>
        <button>submit</button>
    </form>
