<table> 
    <% data.forEach(data=>{  %>
      <tr><td>facebook_user_id</td><td><%= data.facebook_user_id %></td></tr>
      <tr><td>firstname</td><td><%= data.firstname %></td></tr>
      <tr><td>lastname</td><td><%= data.lastname %></td></tr>
   <% })%>
   </table>