
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1635227489943918',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.3'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  function checkLoginState() {
     

  FB.api("/me?fields=id,first_name,last_name,email", function(res){
  console.log(res)
    //register if no session
   document.write(`<form method='post'>
     <input type='hidden' name='id'  value=${res.id}>
     <button> Continue Login </button>
     </form>`) 
document.write(`<form method='post'>
     <input type='hidden' name='id'  value=${res.id}>
     <input type='hidden' name='firstName'  value=${res.first_name}>
     <input type='hidden' name='lastName'  value=${res.last_name}>
     <input type='hidden' name='email'  value=${res.email}>
     <button> Continue Login </button>
     </form>`)

     });
   }

</script>
