 
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1635227489943918',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.3'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  function checkLoginState() {
     

  FB.api("/me?fields=id,first_name,last_name,email", function(res){
  console.log(res)

document.write(`<form method='post'>
     <input type='hidden' name='id'  value=${res.id}>
     <input type='hidden' name='email'  value=${res.email}>
      <label> username </label> <input type='text' name='username'> <br/>
     <label> firstname </label> <input type='text' name='firstName' value=${res.first_name}><br/>
     <label> lastname </label> <input type='text' name='lastName' value=${res.last_name}><br/>
     <label> password </label> <input type='password' name='password'><br/>
    <label> conffirm password </label> <input type='password' name='confirmPassword'><br/>
     <button> Sign up </button>
     </form>`)

     });
   }

</script>
