
<% if (flash.error) { %>
   <p style="color: red;"><%= flash.error %></p>
<% } %>
<% if (flash.success) { %>
   <p style="color: green;"><%= flash.success %></p>
<% } %>
<form method="POST">
        <label>username</label>
        <input type="text" name="username">
        <br/>
        <label>password</label>
        <input type="password" name='password'>
        <br/>
        <button>submit</button>
    </form>