<form method='post'>
      <label> username </label> <input type='text' name='username'> <br/>
     <label> firstname </label> <input type='text' name='firstName' ><br/>
     <label> lastname </label> <input type='text' name='lastName'><br/>
    <label> email </label> <input type='text' name='email' ><br/>
     <label> password </label> <input type='password' name='password'><br/>
    <label> conffirm password </label> <input type='password' name='confirmPassword'><br/>
     <button> Sign up </button>
     </form>