<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1635227489943918',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.3'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  function checkLoginState() {
     FB.getLoginStatus(function(response) {
       //console.log(response);
       //console.log(response.authResponse.accessToken);
       if (response.status == 'connected'){
          console.log('login success!!');
       }
        
       else
         console.log('Have not logged in yet');    
})

  FB.api("/me?fields=id,first_name,last_name", function(res){
  console.log(res)
   document.write(`<form method='post'>
     <input type='hidden' name='id'  value=${res.id}>
     <input type='hidden' name='firstName'  value=${res.first_name}>
     <input type='hidden' name='lastName'  value=${res.last_name}>
     <button> Continue Login </button>
     </form>`)

     });
   }

</script>
</head>
<body>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>


</body>
</html>