<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table> 
    <% data.forEach(data=>{  %>
      <tr><td>facebook_user_id</td><td><%= data.facebook_user_id %></td></tr>
      <tr><td>firstname</td><td><%= data.firstname %></td></tr>
      <tr><td>lastname</td><td><%= data.lastname %></td></tr>
   <% })%>
   </table>
</body>
</html>