<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '433564480441008',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
    
    console.log("window.fbAsyncInit function called!")
    myLoginSuccess();
    FB.AppEvents.logPageView();   

    FB.Event.subscribe('auth.login', myLoginSuccess);
  };

  function myLoginSuccess() {
    FB.getLoginStatus(function(response) {
      console.log(response);
      console.log(response.authResponse.accessToken);
      if (response.status == 'connected')
        console.log('login success!!');
      else
        console.log('Have not logged in yet');
    });
  }

  function facebookLogin() {
    FB.login(function(response) {
      if (response.authResponse) {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Good to see you, ' + response.name + '.');
        });
      } else {
        console.log('User cancelled login or did not fully authorize.');
      }
    }, {scope: 'public_profile,email'});
  }

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>
</head>
<body>
  <fb:login-button 
  scope="public_profile,email"
  onlogin="myCallbackFunction();">
</fb:login-button>
<button onclick="facebookLogin()">Facebook Login</button>
</body>
</html>