<form method="POST" enctype="multipart/form-data" action='/api/v1/pikka'>
    <label>Select Image</label>
    <input type="file" name= 'photo'>
    <br/>
    <label>Caption</label>
    <input type="text" name='caption'>
    <br/>
    <button>submit</button>
</form>
