<h1>Login</h1>
<form action="/login_complete" method="POST">
  Username: <input type="text" name="username"><br>
  Password: <input type='password' name="password"><br>
  <input type="submit" value="Submit">
</form>