<h1>Register</h1>
<form action="/register_complete" method="POST">
  Username: <input type="text" name="username"><br>
  Password: <input type='password' name="password"><br>
  Confirm Password: <input type="password" name="confirm_password"><br>
  Mobile Phone: <input type="text" name="mobile_phone"><br>
  Confirm Mobile: <input type="text" name="confirm_mobile"><br>
  
  <input type="submit" value="Submit">
</form>