 <form method="POST" action='/api/v1/auth/signup'>
        <label>email</label>
        <input type="email" name='email'>
        <br/>
        <label>password</label>
        <input type="password" name='password'>
        <br/>
        <label>confirm password</label>
        <input type="password"name='confirm_password'>
        <br/>
        <button>sign up</button>
    </form>
