<% if (flash.error) { %>
   <p style="color: red;"><%= flash.error %></p>
<% } %>
<% if (flash.success) { %>
   <p style="color: green;"><%= flash.success %></p>
<% } %>
    <form method="POST">
        <label>email</label>
        <input type="email" name='email'>
        <br/>
        <label>password</label>
        <input type="password" name='password'>
        <br/>
        <label>confirm password</label>
        <input type="password"name='confirm_password'>
        <br/>
        <button>sign up</button>
    </form>
