<table>
<tr>
<%for(let i in picture){%>
   <%if(i%3==0){%>
</tr><tr><td><%-"<img src = '/images/"+picture[i].id+"' width='100' hight='100'>"%><br/>
caption:<%=picture[i].caption%><br/>
created_at:<%=picture[i].created_at%><br/>
created_by:<%=picture[i].created_by%>
</td> 
      <%}%>
      <td><%-"<img src = '/images/"+picture[i].id+"' width='100' hight='100'>"%><br/>
caption:<%=picture[i].caption%><br/>
created_at:<%=picture[i].created_at%><br/>
created_by:<%=picture[i].created_by%>
</td> 
<%}%>
</table>